<!DOCTYPE html>
<html>
   <head>
      <%= partial "head" %>
   </head>

   <body>
      <div id="main">
         <header id="on-top"></header>
         <div id="content">
            <%= partial "menu" %>
            <section id="archive">
               <% create_articles_list.each do |article| %>
                  <article>
                     <header><a href="<%= article.link %>"><%= article.title %></a></header>
                     <p><%= article.date %></p>
                  </article>
               <% end %>
            </section>
         </div>
      </div>
      <%= partial "footer" %>
   </body>
</html>
